# Archivos de control de versiones y config
.git
.gitignore
.gitattributes
.npmrc
.prettierrc
.eslintrc.*
.editorconfig
.vscode
README.md

# Archivos de salida de build
.svelte-kit
node_modules
build
package
dist

# Configs y temporales innecesarios
Dockerfile
.dockerignore

# Archivos sensibles
**/.env
.env
.env.*

# Prisma output (si ya lo generás dentro del contenedor)
prisma/generated
