@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

@layer base {
	h1 {
		@apply text-3xl font-bold;
	}
	h2 {
		@apply text-2xl font-semibold;
	}
	h3 {
		@apply text-xl;
	}
}

@theme {
	--animate-bounce: bounce 5s ease infinite;

	@keyframes text {
		0%, 100%: {
			transform: translateY(0);
			animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
		}

		50%: {
			transform: translateY(-25%);
			animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
		}
	}
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}
